<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django eCommerce</title>
</head>
<body>

    <nav>
        <a href="/">Home</a> |
        <a href="/reddit/">Reddit Feed</a> |
        <a href="{% url 'store:cart_detail' %}">Cart</a>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>