{% extends "base.html" %}

{% block content %}
<h2>Reddit Feed</h2>

{% if error %}
    <p style="color: red;">Error: {{ error }}</p>
{% endif %}

{% if posts %}
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ post.url }}" target="_blank">{{ post.title }}</a><br>
                Author: {{ post.author }} |
                Score: {{ post.score }}
            </li>
            <br>
        {% endfor %}
    </ul>
{% else %}
    <p>No posts found.</p>
{% endif %}
{% endblock %}